Package: ni-veristand-{veristand_version}-steps-for-teststand
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  This package provides the NI VeriStand Steps for TestStand 2014, 2016, and 2017 (both 32- and 64-bit versions). Documentation and examples are installed to <Public Documents>\National Instruments\NI VeriStand Steps for TestStand.
XB-Eula:  
XB-UserVisible: yes
Priority: standard
Homepage: https://github.com/NIVeriStandAdd-Ons/VeriStand-steps-for-TestStand
XB-LanguageSupport: en
Section: Add-Ons
XB-DisplayVersion: {nipkg_version}
XB-DisplayName: NI VeriStand {veristand_version} Steps for TestStand
XB-Message: This package is provided under the Apache 2.0 open-source software license.
 Copyright 2018 National Instruments
 .
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 . 
  http://www.apache.org/licenses/LICENSE-2.0
 .
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
Depends: 
