Package: ni-veristand-{veristand_version}-steps-for-teststand
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  This package provides the NI VeriStand Steps for TestStand 2014, 2016, and 2017 (both 32- and 64-bit versions). Documentation and examples are installed to <Public Documents>\National Instruments\NI VeriStand Steps for TestStand.
XB-Eula:  
XB-UserVisible: yes
Priority: standard
Homepage: https://github.com/NIVeriStandAdd-Ons/VeriStand-steps-for-TestStand
XB-LanguageSupport: en
Section: Add-Ons
XB-DisplayVersion: {nipkg_version}
XB-DisplayName: NI VeriStand {veristand_version} Steps for TestStand
XB-Message: This package is provided under the BSD-2 "Simplified" open-source software license.
 Copyright 2018
 National Instruments
 Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Depends: 
