Package: veristand-{veristand_version}-steps-teststand
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  This package provides the VeriStand Steps for TestStand 2014, 2016, and 2017 (both 32- and 64-bit versions).
XB-Eula:  
XB-UserVisible: yes
Priority: standard
Homepage: https://github.com/NIVeriStandAdd-Ons/VeriStand-steps-for-TestStand
XB-LanguageSupport: en
Section: Add-Ons
XB-DisplayVersion: {nipkg_version}
XB-DisplayName: VeriStand {veristand_version} Steps for TestStand
Depends: 
